useDynLib(perturbationkernel, .registration = TRUE)
export(pk_config)
export(pk_gaussian)
export(pk_bistable)
export(pk_markov)
export(pk_run)
export(pk_version)
export(pk_schema_version)
export(pk_simd_path)
export(pk_gpu_available)
